@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #170730;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1473C1;
}
}

@layer components {
	.blinking-cursor:after {
		content: "|";
		@apply text-tertiary;
		animation: blink 1s step-start infinite;
	}
	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
}