@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*::-webkit-scrollbar {
		width: 5px;
	}

	*::-webkit-scrollbar-track {
		background: #170730;
		border-radius: 5px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #1473c1;
	}
}

@layer components {
	.blinking-cursor:after {
		content: "|";
		@apply text-tertiary;
		animation: blink 1s step-start infinite;
	}
	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
	.animate-slide-in {
		animation: 1s ease-in-out 1s slide backwards;
	}

	@keyframes slide {
		0% {
			opacity: 0;
			transform: translateY(100%);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
